    @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    *,
    *::before,
    *::after {
        box-sizing: border-box;        
    }

    html,
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #2A7B9B;
        margin-top: 10px;
        background: linear-gradient(90deg, rgba(42, 123, 155, 1) 2%, rgba(56, 255, 139, 1) 60%, rgba(237, 221, 83, 1) 100%) fixed;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    p,
    a,
    ol,
    ul,
    li {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 85%;
        margin: 0;
        padding: 0;
    }

    /* Main Page CSS */

    .recipeTitle,
    .recipeTitle.bonusRecipeTitle {
        display: flex;
        justify-content: center;
        font-weight: 400;
        text-align: center;
        font-style: italic;
        font-family: "Exo 2", sans-serif;
        font-size: 1.6rem;
        color: blue;
        text-decoration: none;
    }

    .recipeTitle h2 {
        font-size: 28px;
    }

    .recipeTitle a:link {
        color: blue;
        text-decoration: none;
    }

    .recipeTitle a:visited {
        color: rgb(193, 199, 223);
    }

    .recipeTitle.bonusRecipeTitle {
        font-weight: 600;
        font-size: 2.5rem;
        color: hsla(16, 91%, 45%, 0.74);
    }

    .siteName {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 0 10px 0;
        flex-wrap: wrap;
        text-align: center;
    }

    .siteName p {
        font-size: 58px;
        font-weight: 700;
        font-style: italic;
    }

    .siteName img {
        width: 100%;
        max-width: 50px;
        height: 50px;
        margin-top: 9px;
        border-radius: 50%;
    }

    .siteName a:link {
        color: red;
    }

    #trademark a:link {
        color: red;
    }

    .siteName a:hover,
    .recipeTitle a:hover {
        color: hsl(34, 81%, 49%);
    }

    .mainIntro {
        margin-bottom: 10px;
    }

    .mainIntro p {
        font-family: "Source Sans 3", sans-serif;
        font-size: 28px;
        font-weight: 600;
        text-wrap: balance;
        color: blue;
        font-style: italic;
        opacity: .7;
        text-align: center;
        transition: opacity .6s ease-in, color .6s ease-in, cursor .6s ease-in;
    }

    .mainIntro p:hover {
        opacity: 1;
        color: #c1f8c1d6;
        cursor: pointer;
    }

    .allRecipes,
    .allRecipes.bonusrecipes {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        /* border: 1px solid red; */
        padding: 10px;
        height: auto;
        justify-content: center;
    }

    .recipe {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 365px;
        height: 100%;
        gap: 8px;
        text-align: center;        
    }

    .allRecipes li {
        list-style-type: none;
        list-style-position: inside;
        margin: 8px;
    }

    .recipe .mainImg {
        width: 100%;
        margin: 10px;
        aspect-ratio: 1/1;
        margin: 5px 35px 15px 0;        
    }

    .allRecipes.bonusRecipes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .recipe img,
    .recipeDetails img {
        margin: 0;
        padding: 0;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 20px 5px rgba(115, 58, 214, 1);
        -moz-box-shadow: 0px 0px 20px 5px rgba(115, 58, 214, 1);
        box-shadow: 0px 0px 20px 5px rgba(115, 58, 214, 1);
    }

    /*------------------------------------------------ Recipe Details CSS Page--------------------------------------------------*/

    .recipeTitle.detailsPage {
        font-family: "Exo 2", sans-serif;
        font-size: 26px;
        color: blue;
    }

    .mainImgDetailsPage {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
    }

    .mainImgDetailsPage img {
        width: 100%;
        height: 380px;
        border-radius: 20px;
    }

    .recipeDetails {
        width: 100%;
        padding: 5px;
        font-size: 21px;
        letter-spacing: 1.5px;
        box-sizing: border-box;
    }

    .description,
    .ingredients,
    .recipeSteps,
    .duration {
        line-height: 1.7rem;
        font-family: "Roboto", sans-serif;
        margin: 14px 0;
    }

    .description h2,
    .ingredients h2,
    .recipeSteps h2,
    .duration h2 {
        text-decoration: underline;
    }

    .ingredients h2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .description h2 {
        text-align: center;
        font-style: italic;
        font-weight: 500;
    }

    .recipeSteps {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
    }

    .recipeSteps h2 {
        margin-bottom: 10px;
    }

    .stepsHeading {
        margin-bottom: 8px;
        ;
    }

    .recipeDetails ol {
        list-style-position: inside;
    }

    .recipeSteps ol {
        /* padding-left: 2rem; */
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .stepsImg {
        display: flex;
        text-align: center;
        margin: 4px 0;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .stepsImg img {
        width: 100%;
        max-width: 500px;
        height: auto;
        aspect-ratio: 1/1;
    }

    .backButton {
        display: flex;
        align-items: center;
        height: 27px;
    }

    .backButton a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 5px;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: .5px;
    }

    .backButton a img {
        width: 25px;
        margin-right: 5px;
    }

    .backButton a:link {
        color: hsl(101, 80%, 52%);
    }

    .backButton a:hover {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 3px;
    }

    #trademark {
        font-size: 1.5rem;
        margin: 8px 0px;
        font-weight: 800;
        letter-spacing: 1px;
        font-style: italic;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    sup {
        font-size: 55%;
        letter-spacing: normal;
        font-weight: bold;
    }