/*
Initial Layout done.    Done
h3s from recipe aren't not getting sized.   Done

Main Intro:    font-family: "Source Sans 3", sans-serif;
Main heading: Exo2
*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: hsl(120, 79%, 57%);
    border: 2px solid yellow;
    padding: 10px;
    overflow-x: hidden;
    box-sizing: border-box;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

p,
a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.mainHeading,
.recipeTitle {
    display: flex;
    margin: .5rem 0rem .5rem 0rem;
    font-weight: 400;
    flex-wrap: wrap;
    font-family: "Exo 2", sans-serif;

    font-size: 2.5rem;
    /* color: hsla(16, 91%, 45%, 0.74); */
    font-style: italic;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid red; */
    text-wrap: wrap;
}

.mainHeading {
    font-size: 3rem;
    font-family: "Source Sans 3", sans-serif;
}

.recipeTitle {
    font-family: "Exo 2", sans-serif;
    font-size: 2.5rem;

}

.recipeTitle {
    color: blue;
}

.mainHeading a:link {
    color: red;
}

.recipeTitle a:link {
    color: blue;
}

.mainHeading a:visited,
.recipeTitle a:visited {
    color: red;
}

.mainHeading a:hover,
.recipeTitle a:hover {
    color: yellow;
}

.recipeTitle {
    color: blue;
}


.mainIntro {
    /* border:1px solid red; */
    font-family: "Source Sans 3", sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-wrap: balance;
    color: blue;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-bottom: .2rem;
}

.mainIntro:hover {
    color: #c1f8c1d6;
    cursor: pointer;
    font-weight: 800;
}

.allRecipes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid green; */

}



.recipe {
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.recipe img {
    width: 100%;
    max-width: 500px;
}

.mainImg {
    text-align: center;
    display: flex;
    padding: 10px;
    /* border: 1px solid red; */
    justify-content: center;

}

.mainImg img {

    width: 900px !important;
    height: 300px;
    object-fit: fill;
}



.recipe img,
.recipeDetails img {
    margin: 0;
    padding: 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(115, 58, 214, 1);
    -moz-box-shadow: 0px 0px 20px 5px rgba(115, 58, 214, 1);
    box-shadow: 0px 0px 20px 5px rgba(115, 58, 214, 1);
    /* -webkit-box-shadow: -6px 7px 17px -1px rgba(65,4,219,0.75);
    -moz-box-shadow: -6px 7px 17px -1px rgba(65,4,219,0.75);
    box-shadow: -6px 7px 17px -1px rgba(65,4,219,0.75); */
}

.recipeDetails img {
    width: 500px;
}

.bonusRecipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */

}


h1,
h3,
h2 {
    margin: 0;
    padding: 0;
}

.recipeName {
    /* border: 1px solid yellow; */
    padding: 5px;
    display: flex;

}


.subMainHeadings {
    font-family: "Exo 2", sans-serif;
    margin: 1.5rem 0rem 1.2rem 0rem;
    font-weight: 600;
    font-size: 3rem;
    color: hsla(16, 91%, 45%, 0.74);
    font-style: italic;

}

.recipeName h2 {
    font-size: 30px;
}

/*------------------------------------------------Recipe Details CSS Page--------------------------------------------------*/
.recipeDetails {
    /* border: 1px solid red; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0% 15%;
}

.disc {
    text-align: left;
}


.duration {
    width: 100%;

    /* border: 1px solid red; */
}

.ingredients {
    width: 100%;
    text-align: left;
}

.recipeSteps {
    /* border: 1px solid orange; */
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.recipeSteps ol {
    /* border: 1px solid red; */
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.stepsImg {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
}

.backButton {
    display: block;
    font-size: 20px;
    /* color: red; */
}

/* Pending Ops
Remove Important property.
Bullets placements in Homepage.
*/